<div class="row">
  <div class="col-12">
    <div class="card my-4">
      <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
          <h6 class="text-white text-capitalize ps-3">Danh mục sản phẩm</h6>
        </div>
      </div>
      <div class="card-body px-0 pb-2">
        <div class="table-responsive p-0">
          <table class="table align-items-center mb-0">
            <thead>
              <tr>
                <th class="text-secondary opacity-7">STT</th>
                <th class="text-secondary opacity-7">Danh mục sản phẩm</th>
                <th class="text-secondary opacity-7">Nhà cung cấp</th>
                <th class="text-secondary opacity-7">Trạng thái</th>
                <th class="text-secondary opacity-7">Thao tác</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cate of category_product;let i = index">
                <td>{{i+1}}</td>
                <td>{{cate.name}}</td>
                <td>{{cate.name_supplier}}</td>
                <td>{{cate.name_status}}</td>
                <td>
                  <a class="btn btn-secondary" style="margin-right: 10px ;"
                    [routerLink]="['/admin/category-edit/',cate.id]">Sửa</a>
                  <button type="button" class="btn btn-danger" (click)="onDelete(cate.id)">Xóa</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

